@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }
    .info {
        width: 88%;
    }
    .box {
        display: flex;
        width: 100%;
        padding: 0;
    }
    .box1 {
        display: flex;
        margin: auto;
    }
    .contentContainer {
        width: 88%;
    }
}

@media (max-width: 850px) {
    .box1 ul:first-of-type {
        padding: 0;
    }
    li {
        padding: 20px 0 20px 37px
    }
    .li-right {
        background-size: 25%;
    }
    .li-left {
        background-size: 25%;
    }
    .li-jump {
        background-size: 25%;
    }
    .li-throw {
        background-size: 25%;
    }
    .li-throw-short {
        background-size: 25%;
    }
    li.a {
        background-size: 42%;
        background-position-x: -7px;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .info {
        display: none;
    }
    .contentContainer {
        width: 100%;
    }
    .settings,
    .music,
    .bestPlayer,
    .winGame {
        max-height: 100vh;
        height: 100vh;
    }
    .ud_menu_icon {
        display: block;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .contentContainer {
        height: 100vh;
    }
    .startScreen img:first-of-type {
        height: 100vh;
    }
    .settings,
    .music,
    .bestPlayer,
    .winGame {
        max-height: 100vh;
        height: 100vh;
    }
}

@media only screen and (max-height: 550px) {
    .info {
        display: none;
    }
    .ud_menu_icon {
        display: block;
    }
}