@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }
    .info {
        width: 88%;
    }
    .box {
        display: flex;
        width: 100%;
        padding: 0;
    }
    .box1 {
        display: flex;
        margin: auto;
    }
    .win {
        font-size: 2.5rem;
    }
}

@media (max-width: 850px) {
    .box1 ul:first-of-type {
        padding: 0;
    }
    li {
        padding: 20px 0 20px 37px
    }
    .liRight,
    .liLeft,
    .liJump,
    .liThrow,
    .liThrowShort,
    .liOpenSettins {
        background-size: 25%;
    }
    li.a {
        background-size: 42%;
        background-position-x: -7px;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .info {
        display: none;
    }
    .ud_menu_icon {
        display: block;
    }
    .hud {
        bottom: 2rem;
    }
    .hud img {
        width: 4rem;
        opacity: 0.3;
    }
}

@media only screen and (max-height: 480px) {
    .hud {
        bottom: 0;
    }
    .hud img {
        width: 6rem;
        opacity: 0.3;
    }
}

@media only screen and (max-height: 550px) {
    .info {
        display: none;
    }
    .ud_menu_icon {
        display: block;
    }
}

@media only screen and (max-height: 480px) {
    .settings,
    .history,
    .bestPlayer,
    .winGame {
        font-size: 1.2rem;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .box {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #coins {
        font-size: 2rem;
    }
    #timer {
        font-size: 2rem;
    }
}