/* boogaloo-regular - latin */

@font-face {
    font-family: 'Boogaloo';
    font-style: normal;
    font-weight: 400;
    src: url('assets/img/7_statusbars/3_icons/Boogaloo-Regular.ttf');
}

.d-none {
    display: none !important;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    box-sizing: border-box;
}

body {
    font-family: 'Boogaloo';
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
    background: url(assets/img/bg/desertBG.png);
}

.contentContainer {
    width: 70%;
    position: relative;
}

.canvas {
    background: black;
    width: 100%;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
}

ul {
    margin: 0;
    padding: 0 0 0 1rem;
}

.li-right {
    background-image: url('assets/img/bg/letter-d-64.ico');
}

.li-left {
    background-image: url('assets/img/bg/letter-a-64.ico');
}

.li-jump {
    background-image: url('assets/img/bg/myspace-64.png');
}

.li-throw {
    background-image: url('assets/img/bg/letter-e-64.ico');
}

.li-throw-short {
    background-image: url('assets/img/bg/letter-r-64.ico');
}

li.a {
    background-image: url('assets/img/6_salsa_bottle/bottle_rotation/4_bottle_rotation.png');
    background-size: 50%;
    background-position-x: -10px;
}

li {
    margin: 0;
    list-style: none;
    padding: 20px 0 20px 60px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

li.a:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(2deg);
}

.startScreen {
    width: 100%;
    position: relative;
}

.startScreen img:first-of-type {
    width: 100%;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
}

.playBtn {
    position: absolute;
    top: 50%;
    width: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    cursor: pointer;
    transition: all 125ms;
}

.playBtn:hover {
    transform: scale(1.2) translate(-45%, -40%);
}

.gameOver img {
    width: 100%;
}

.btn {
    font-size: 22px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: solid #0066cc 3px;
    border-radius: 50px;
    transition: 225ms;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.btn:hover {
    transition: 225ms;
    padding: 10px 50px;
    background-color: transparent;
}


/* .music {
    color: white;
    font-size: 2rem;
    height: 20rem;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
} */

.settings,
.music,
.bestPlayer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
    max-width: 100vw;
    max-height: 70vh;
    min-height: 17rem;
    font-size: 2rem;
    overflow: auto;
}